{{define "base.html"}}
<!DOCTYPE html>
<html>
<head>
  <title>{{.title}}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <nav>
    {{if .prevLink}}
      <a href={{.prevLink.Href}}><- {{.prevLink.Name}}</a>
    {{end}}
    {{if .nextLink}}
      <a href={{.nextLink.Href}}>{{.nextLink.Name}} -></a>
    {{end}}
  </nav>
  <main>
    {{if eq .title "00 - Home"}}
      {{template "home_content" .}}
    {{else if eq .title "01 - About Me"}}
      {{template "about_content" .}}
    {{else if eq .title "02 - Projects"}}
      {{template "projects_content" .}}
    {{else if eq .title "03 - Experience"}}
      {{template "experiences_content" .}}
    {{else if eq .title "04 - Blog"}}
      {{template "blogs_content" .}}
    {{end}}
  </main>
</body>
</html>
{{end}}
