:root {
  --near-black: rgb(30, 42, 56);
  --off-white: #f5f7fa;
  --info-blue: #2196f3;
  --info-blue-transparent: rgba(33, 150, 243, 0.2);
  --off-white-transparent: rgba(245, 247, 250, 0.8);
  --near-black-transparent: rgb(30, 42, 56, 0.8);
}

#app {
  height: 100vh;
  background-color: var(--off-white);
  padding: 1rem;
}

span.icon {
  display: flex;
  align-items: center;
}

span.icon.action {
  cursor: pointer;
}

.dark {
  color: var(--off-white);
}

.light {
  color: var(--near-black);
}