:root {
  --near-black: #1e2a38;
  --off-white: #f5f7fa;
  --info-blue: #2196f3;
  --info-blue-transparent: rgba(33, 150, 243, 0.2);
  --off-white-transparent: rgba(245, 247, 250, 0.8);
  --near-black-transparent: rgb(30, 42, 56, 0.8);
  --background: var(--off-white);
  --text: var(--near-black);
  --background-transparent: var(--off-white-transparent);
  --text-transparent: var(--near-black-transparent);
}

html.dark-theme {
  --background: var(--near-black);
  --text: var(--off-white);
  --background-transparent: var(--near-black-transparent);
  --text-transparent: var(--off-white-transparent);
}

body {
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

span.icon {
  display: flex;
  align-items: center;
}

span.icon.action {
  cursor: pointer;
}

.dark {
  color: var(--off-white);
}

.light {
  color: var(--near-black);
}