html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* For smooth scrolling */
}

body {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Makes sections snap when scrolling */
}

#app > * {
  scroll-snap-align: start;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}