{{template "base.html" .}}

{{define "about_content"}}
<h1>About Me</h1>

<p>Hello there!</p>
<p>Welcome to my portfolio. I'm an undergraduate student working as a Software Engineer for the UK Driving Standards Agency, where I build and maintain web-based services.</p>
<p>My journey into development started in 2018, solving simple problems during secondary school. I enjoyed the process to much that I futher studied computer science at college. Afterwards I landed a great opportunity with the DVSA. This posoiton allowed me to pursue a degree in Digital Technology Solutions whilst gaining experience with real-world software solutuions.</p>

<p>I'm currently working on:</p>
<ul>
  <li>Migrating this portfolio website to use Go templates</li>
  <li>Completing my second year of university</li>
</ul>

<p>I attempt to build everything publicly and use blogging as a history of my personal and professional growth.</p>
{{end}}
