#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
}

.container {
  border: 3px solid black;
  min-width: 55vh;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.nav-item {
  cursor: pointer;
}

.selected {
  cursor: progress;
  text-decoration: underline;
  font-weight: 600;
}

#skills-carousel{
  display: flex;
  gap: 0.5rem;
}

#skills-carousel img {
  height: 64px;
}

