#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
}

.container {
  border: 3px solid black;
  min-width: 55vh;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  font-weight: 600;
  transition: transform 0.2s;
}

.selected {
  cursor: progress;
  font-weight: 600;
  transform: scale(1.2);
}

#default-wrapper h1 {
  font-size: 1.7rem;
  margin-bottom: 0.2rem;
}

#default-wrapper h2 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

#default-wrapper p {
  font-size: 1.1rem;
}


#skills-carousel{
  display: flex;
  gap: 0.5rem;
}

#skills-carousel img {
  height: 64px;
  transition: transform 0.2s;
}

#skills-carousel img:hover {
  transform: scale(1.2);
}

